<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chunhuitech.www.core.admin.mysql.mapper.cus.CommRecordCusMapper">

    <select id="getLastModifyTimeSql" resultType="java.lang.Long">
        SELECT max(modify_time) from comm_record
    </select>

    <sql id="selectItem_fragment">
        <if test="classId != null and classId != 0">
            and a.class_id = #{classId}
        </if>
        <if test="syncTime != null ">
            and a.modify_time > #{syncTime}
        </if>
        <if test="pages != null">
            and a.sort_num in
            <foreach item="item" index="index" collection="pages"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>

    <select id="fetchRecordCountSql" parameterType="map" resultType="java.lang.Integer">
        select count(1) as recordCount from comm_record a
        where 1=1
        <include refid="selectItem_fragment"/>
    </select>

    <select id="fetchRecordPageCountSql" parameterType="map" resultType="java.lang.Integer">
        select max(sort_num) as pageCount from comm_record a
        where 1=1
        <include refid="selectItem_fragment"/>
    </select>

    <select id="fetchRecordPageSql" parameterType="map" resultType="cn.chunhuitech.www.core.admin.model.cus.CommRecordPageBlockModel">
        select a.sort_num as page, a.relative_path as imageUrl, b.resource_id as urlId, b.sort_num as sortIndex, b.left_position as l, b.top_position as t, b.width as w, b.height as h, b.begin_point as bg, b.end_point as ed, b.text as text from comm_record a, comm_point_read_block b
        where a.id = b.record_id
        <include refid="selectItem_fragment"/>
    </select>

    <select id="getListSql" parameterType="map" resultType="cn.chunhuitech.www.core.admin.model.cus.CommRecordSearchModel">
        select a.id as id, b.cn_name as book, a.sort_num as page, a.title as title, a.relative_path as imageUrl, a.modify_time as modifyTime, a.create_time as createTime, a.status as status  from comm_record a, comm_classification b
        where a.class_id = b.id
        <include refid="selectItem_fragment"/>
        limit #{pageStart}, #{pageSize}
    </select>


    <select id="getListCountSql" parameterType="map" resultType="java.lang.Long">
        SELECT count(*) from comm_record a, comm_classification b
        where a.class_id = b.id
        <include refid="selectItem_fragment"/>
    </select>

</mapper>
