<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chunhuitech.www.core.admin.mysql.mapper.cus.CommRecordCusMapper">

    <select id="getLastModifyTimeSql" resultType="java.lang.Long">
        SELECT max(modify_time) from comm_record
    </select>

    <select id="fetchRecordCountSql" parameterType="map" resultType="java.lang.Integer">
        select count(1) as recordCount from comm_record
        where 1=1
        <if test="classId != null and classId != 0">
            and class_id = #{classId}
        </if>
        <if test="syncTime != null ">
            and modify_time > #{syncTime}
        </if>
    </select>

</mapper>
